{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block title %}{% translate "Авторизоваться" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktranslate with provider.name as provider %}Подключить {{ provider }}{% endblocktranslate %}</h1>

<p>{% blocktranslate with provider.name as provider %}Вы собираетесь подключить новый сторонний аккаунт из {{ provider }}.{% endblocktranslate %}</p>
{% else %}
<h1>{% blocktranslate with provider.name as provider %}Авторизоваться через {{ provider }}{% endblocktranslate %}</h1>

<p>{% blocktranslate with provider.name as provider %}Вы собираетесь войти, используя стороннюю учетную запись из {{ provider }}.{% endblocktranslate %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">{% translate "Продолжить" %}</button>
</form>
{% endblock %}
