{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate 'Выход' %}{% endblock %}

{% block content %}
<h1>{% translate "Выход" %}</h1>

<p>{% translate 'Вы уверены, что хотите выйти?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% translate 'Выход' %}</button>
</form>


{% endblock %}
