{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% translate "Восстановление пароля" %}{% endblock %}

{% block content %}

    <h1>{% translate "Восстановление пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% translate "Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Сбросить пароль' %}" />
    </form>

    <p>{% blocktranslate %}Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.{% endblocktranslate %}</p>
{% endblock %}
