{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Изменить пароль" %}{% endblock %}

{% block content %}
    <h1>{% translate "Изменить пароль" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% translate "Изменить пароль" %}</button>
        <a href="{% url 'account_reset_password' %}">{% translate "Забыли пароль?" %}</a>
    </form>
{% endblock %}
