{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% translate "Восстановление пароля" %}{% endblock %}

{% block content %}
    <h1>{% translate "Восстановление пароля" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktranslate %}Мы отправили вам электронное письмо. Если вы не получили его, пожалуйста, проверьте папку со спамом. В противном случае свяжитесь с нами, если вы не получили его в течение нескольких минут.{% endblocktranslate %}</p>
{% endblock %}
