{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Проверьте свой адрес электронной почты" %}{% endblock %}

{% block content %}
    <h1>{% translate "Проверьте свой адрес электронной почты" %}</h1>

    <p>{% blocktranslate %}Мы отправили вам электронное письмо для проверки. Перейдите по предоставленной ссылке, чтобы завершить процесс регистрации. Если вы не видите письмо с подтверждением в своем основном почтовом ящике, проверьте папку со спамом. Пожалуйста, свяжитесь с нами, если вы не получили электронное письмо с подтверждением в течение нескольких минут...{% endblocktranslate %}</p>

{% endblock %}
