{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% translate "Проверьте свой адрес электронной почты" %}{% endblock %}

{% block content %}
<h1>{% translate "Проверьте свой адрес электронной почты" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}Эта часть сайта требует от нас подтверждения того, что
    ты тот, за кого себя выдаешь. Для этого мы требуем, чтобы вы
    подтвердить право собственности на свой адрес электронной почты. {% endblocktranslate %}</p>

<p>{% blocktranslate %}Мы отправили вам электронное письмо для проверки. Пожалуйста, нажмите на ссылку внутри этого электронного письма. 
    Если вы не видите письмо с подтверждением в своем основном почтовом ящике, проверьте папку со спамом. В противном случае
    свяжитесь с нами, если вы не получили его в течение нескольких минут.{% endblocktranslate %}</p>

<p>{% blocktranslate %}<strong>Примечание:</strong> ты все еще можешь <a href="{{ email_url }}">изменить свой адрес электронной почты</a>.{% endblocktranslate %}</p>


{% endblock %}
