{% extends 'base.html' %}
{% load static i18n article_tag %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home_page' %}"><i class="fa fa-home"></i>{% translate 'Главная' %}</a>
                    <a href="{% url 'article-list' %}">{% translate 'Аниме' %}</a>
                    <span>{{ article.category }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="{{ article.poster.url }}">
                        <div class="comment"><i class="fa fa-comments"></i> {{article.reviews.count}}</div>
                        <div class="view"><i class="fa fa-eye"></i>{# {{article.viewers.count}} #} </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>{{ article.title }}</h3>
                            <span>{{ article.title_alt }}</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <form action="{% url 'add-rating' %}" method="post", name="rating">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{article.id}}" name="article">
                                    <span class="rating">
                                        {% for k,v in star_form.fields.star.choices %}
                                            <input id="rating{{v}}" type="radio" name="star" value="{{k}}">
                                            <label for="rating{{v}}">{{k}}</label>
                                        {% endfor %}
                                    </span>
                                    <span class="editContent">5.0</span>
                                </form>
                            </div>
                            <span>{{article.ratings.count}}</span>
                        </div>
                        
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>{% translate 'Тип' %}:</span> {{ article.type }}</li>
                                        <li><span>{% translate 'Студия' %}:</span> {{ article.studio }}</li>
                                        <li><span>{% translate 'Дата выхода' %}:</span> {{ article.date_aired }}</li>
                                        <li><span>{% translate 'Статус' %}:</span> {{ article.activity }}</li>
                                        <li><span>{% translate 'Жанры' %}:</span> 
                                            {% for genre in article.genres.all %}
                                            {{ genre.name }}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        {# <li><span>{% translate 'Голоса' %}:</span> 7.31 / 1,515</li> #}
                                        <li><span>{% translate 'Рейтинг' %}:</span> 8.5 / 161 times</li>
                                        <li><span>{% translate 'Длительность' %}:</span> {{ article.duration }} min/ep</li>
                                        <li><span>{% translate 'Качество' %}:</span> {{ article.quality }}</li>
                                        <li><span>{% translate 'Просмотры' %}:</span> {# {{article.viewers.count}} #}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <div>
                                <div class="row">
                                    
                                    <form action="{% if user.is_authenticated %} {% url 'add_subscription' article=article.pk user=user.pk %} {% endif %}" method="post">
                                        {% csrf_token %}
                                        <button class="follow-btn"><i class="fa fa-heart-o"></i> {% translate 'Следить' %}
                                        </button>
                                    </form>
        
                                    <form action="{% if user.is_authenticated %} {% url 'create_recarticle' article=article.pk user=user.pk %} {% endif %}" method="post">
                                        {% csrf_token %}
                                        <button class="follow-btn"><i class="fa fa-heart-o"></i> {% translate 'Порекомендовать' %}
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                        <p>{{ article.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>{% translate 'Эпизоды' %}</h5>
                        </div>
                        {% for item in article.article_episodes.all %}
                        <a href="{{item.get_absolute_url }}">{{item.episode}}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>{% translate 'Отзывы' %}</h5>
                    </div>

                    {% include 'articles/reviews_list.html' %}
            
                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>{% translate 'Оставить отзыв' %}</h5>
                    </div>
                    <form method="post" action="{% url 'create-review' article.pk %}"  id="reviewForm" name="reviewForm" data-article-id="{{ article.pk }}">
                        {% csrf_token %}
                        {{ form.text }}
                        {{ form.parent }}
                        <button type="submit" id="reviewSubmit"><i class="fa fa-location-arrow"></i> Добавить отзыв</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>{% translate 'Последние добавленные' %}</h5>
                    </div>
                    {% get_last_articles quantity=4 as last_articles %}
                    {% for item in last_articles %}
                    <div class="product__sidebar__view__item set-bg" data-setbg="{{item.poster.url}}">
                        <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                        <div class="view"><i class="fa fa-eye"></i>{# {{item.viewers.count}} #} </div>
                        <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Anime Section End -->
{% endblock content %}