{% extends 'base.html' %}
{% load static article_tag %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Главная</a>
                    <a href="{% url 'article-list' %}">Аниме</a>
                    {# <span>Romance</span> #}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Romance</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__page__filter">
                                    <p>Сортировать по:</p>
                                    <select>
                                        <option value="">A-Z</option>
                                        <option value="">1-10</option>
                                        <option value="">10-50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for article in article_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ article.poster.url }}">
                                    <div class="ep">{{article.article_episodes.last.episode}} / {{article.series}}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{article.reviews.count}}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{article.viewers.count}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in article.genres.all %}
                                        <li>{{ genre.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product__pagination">
                    {% include 'include/pagination.html' %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    {% get_top_views_articles quantity=5 %}
                    {% get_last_reviews %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}