{% extends 'base.html' %}
{% load static article_tag %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home-page' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'article-list' %}">Categories</a>
                    <span>Romance</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Romance</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__page__filter">
                                    <p>Order by:</p>
                                    <select>
                                        <option value="">A-Z</option>
                                        <option value="">1-10</option>
                                        <option value="">10-50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for article in article_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ article.poster.url }}">
                                    <div class="ep">{{article.article_episodes.last.episode}} / {{article.series}}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{article.get_review.count}}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{article.viewers.count}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in article.genres.all %}
                                        <li>{{ genre.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product__pagination">
                    {% include 'include/pagination.html' %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Day</li>
                            <li data-filter=".week">Week</li>
                            <li data-filter=".month">Month</li>
                            <li data-filter=".years">Years</li>
                        </ul>
                        <div class="filter__gallery">
                            {% get_top_views_articles as top_v_articles %}
                            {% for item in top_v_articles %}
                            <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="{{item.poster.url}}">
                                <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{item.viewers.count}}</div>
                                <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>New Comment</h5>
                        </div>
                        {% get_last_reviews as last %}
                        {% for item in last.last_reviews %}
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img class="review-item" src="{{item.article.poster.url}}" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    {% for genre in item.article.genres.all %}
                                    <li>{{ genre.name }}</li>
                                    {% endfor %}
                                </ul>
                                <h5><a href="#">{{item.article.title}}</a></h5>
                                <span><i class="fa fa-eye"></i> {{item.article.viewers.count}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}