{% extends 'base.html' %}
{% load static article_tag %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home-page' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'article-list' %}">Categories</a>
                    <span>{{ article.category }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="{{ article.poster.url }}">
                        <div class="comment"><i class="fa fa-comments"></i> {{article.get_review.count}}</div>
                        <div class="view"><i class="fa fa-eye"></i> {{article.viewers.count}}</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>{{ article.title }}</h3>
                            <span>{{ article.title_alt }}</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <form action="{% url 'add-rating' %}" method="post", name="rating">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{article.id}}" name="article">
                                    <span class="rating">
                                        {% for k,v in star_form.fields.star.choices %}
                                            <input id="rating{{v}}" type="radio" name="star" value="{{k}}">
                                            <label for="rating{{v}}">{{k}}</label>
                                        {% endfor %}
                                    </span>
                                    <span class="editContent">5.0</span>
                                </form>
                            </div>
                            <span>{{article.ratings.count}}</span>
                        </div>
                        <p>{{ article.description }}</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Type:</span> {{ article.type }}</li>
                                        <li><span>Studios:</span> {{ article.studio }}</li>
                                        <li><span>Date aired:</span> {{ article.date_aired }}</li>
                                        <li><span>Status:</span> {{ article.activity }}</li>
                                        <li><span>Genre:</span> 
                                            {% for genre in article.genres.all %}
                                            {{ genre.name }},
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Scores:</span> 7.31 / 1,515</li>
                                        <li><span>Rating:</span> 8.5 / 161 times</li>
                                        <li><span>Duration:</span> {{ article.duration }} min/ep</li>
                                        <li><span>Quality:</span> {{ article.quality }}</li>
                                        <li><span>Views:</span> {{ article.views }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <form action="{% url 'sub' article.link %}" method="post">
                                {% csrf_token %}
                                <button class="follow-btn"><i class="fa fa-heart-o"></i> Follow
                                </button>
                            </form>

                            <!-- <a href="" class="watch-btn"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>List Name</h5>
                        </div>
                        {% for item in article.article_episodes.all %}
                        <a href="{{item.get_absolute_url }}">{{item.episode}}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>
                    {% for review in article.get_review %}
                    <div class="anime__review__item">
                        <div class="anime__review__item__pic">
                            <img src="" alt="">
                        </div>
                        <div class="anime__review__item__text">
                            <h6>{{ review.user.username }} - <span>{{review.create_at|date:"d M Y"}}</span></h6>
                            <p>{{ review.text }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Review</h5>
                    </div>
                    <form action="{% url 'add-review' slug=article.link %}" method="post">
                        {% csrf_token %}
                        {{ review_form.text }}
                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>Last Articles</h5>
                    </div>
                    {% get_last_articles as last_articles %}
                    {% for item in last_articles %}
                    <div class="product__sidebar__view__item set-bg" data-setbg="{{item.poster.url}}">
                        <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                        <div class="view"><i class="fa fa-eye"></i> {{item.viewers.count}}</div>
                        <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->
{% endblock content %}