{% load static %}

{% for article in r_articles %}
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="{{article.poster.url}}">
                <div class="ep">{{article.article_episodes.last.episode}} / {{article.series}}</div>
                <div class="comment"><i class="fa fa-comments"></i> {{article.reviews.count}}</div>
                <div class="view"><i class="fa fa-eye"></i> {{article.viewers.count}}</div>
            </div>
            <div class="product__item__text">
                <ul>
                    {% for genre in article.genres.all %}
                    <li>{{ genre.name }}</li>
                    {% endfor %}
                </ul>
                <h5><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
            </div>
        </div>
    </div>
{% endfor %}
