{% extends 'base.html' %}
{% block title %} AnimeGrok {% endblock title %}
{% load static i18n article_tag %}
    
{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        {% get_home_slider_articles %}
    </div>
</section>
<!-- Hero Section End -->   

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>{% translate 'В этом сезоне' %}</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'article-list' %}" class="primary-btn">{% translate 'Просмотреть все' %}<span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% get_season_articles quantity=6 as season_articles %}
                        {% for item in season_articles %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.poster.url}}">
                                    <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{item.reviews.count}}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{item.viewers.count}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in article.genres.all %}
                                        <li>{{ genre.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>{% translate 'Рекомендуют' %}</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'article-list' %}" class="primary-btn">{% translate 'Просмотреть все' %}<span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% get_recommended_articles quantity=6 %}
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>{% translate 'Последние добавленные' %}</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'article-list' %}" class="primary-btn">{% translate 'Просмотреть все' %}<span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% get_last_articles quantity=6 as last_articles %}
                        {% for item in last_articles %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.poster.url}}">
                                    <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{item.reviews.count}}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{item.viewers.count}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in article.genres.all %}
                                        <li>{{ genre.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="live__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>{% translate 'Дорамы' %}</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'article-list' %}" class="primary-btn">{% translate 'Просмотреть все' %}<span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% get_dorams quantity=6 as dorams %}
                        {% for item in dorams %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.poster.url}}">
                                    <div class="ep">{{item.article_episodes.last.episode}} / {{item.series}}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{item.reviews.count}}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{item.viewers.count}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in article.genres.all %}
                                        <li>{{ genre.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{{item.get_absolute_url}}">{{item.title}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    {% get_top_views_articles quantity=5 %}
                    {% get_last_reviews %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}